/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
database/migrations/2022_10_30_124519_create_post_table.php
database/migrations/2022_10_30_124519_create_post_table.php
database/migrations/2022_10_30_124519_create_post_table.php
database/seeders/PostSeeder.php
database/migrations/2022_10_30_124519_create_post_table.php
database/migrations/2022_10_30_190557_students.php
database/migrations/2022_10_30_124519_create_post_table.php
database/migrations/2022_10_30_124519_create_post_table.php
database/migrations/2022_10_30_124519_create_post_table.php
